@charset "UTF-8";
/* Define as propriedades a todos os elementos da pagina. */
* {
    /* Remove a margem externa de todos os lados do elemento. */
    margin: 0;

    /* Remove o espaçamento interno de todos os lados de elementos. */
    padding: 0;

    /* preenchimento de borda serão incluidos na largura e na altura. */
    box-sizing: border-box;

    font-family: "Ubuntu", sans-serif;
}

body {
    /* Torna o elemento um flex container, transformando todos
    os seus elementos internos (filhos) em flex itens. */
    display: flex;

    /*alinha os flex itens de acordo com o eixo do container. */
    align-items: center;

    /*Alinha os itens flex no container de acordo com a direção. */
    justify-content: center;

    /* Altura minima do elemento. */
    /* Unidades de tamanho da tela vh e vw. */
    min-height: 100vh;

    background: #2e2e2e2e;
}
div#parallelogram {
    background: #00acd7;

    width: 1000px;

    height: 720px;

    /* Delimita o tamanho maximo do elemento. */

    max-width: 70vw;

    border-radius: 10px;

    box-shadow: 5px 5px 15px;

    transform: skew(5deg, 3deg);

    position: absolute;

    z-index: -1;
}
section {
    display: flex;
    /* Cor do elemento */
    background: #fff;
    /* Gerar espaço ao redor do conteúdo 
    do elemento 30px superior e inferior 5px
     para esquerda e direita. */ 
    padding: 30px 5px;

    /* Arredonda os cantos. */
    border-radius: 20px;

    /* Adiciona sombra nos elementos. */
    box-shadow: 5px 5px 15px;

    /* Tamanho mãximo de elemento. */
    max-width: 70vw;
}

section h1 {
    padding: 40px 40px;
    /* Alinha o texto no centro. */
    text-align: center;
    font-size: 30px;
    text-shadow: #00acd7 3px 3px;
}

fieldset {
    /* Remove a borda. */
    border: none;
}

fieldset:nth-child(2) {
    /* Vai alinhar os elementos um ao lado do outro. */
    display: flex;
}
fieldset:nth-child(4) {
    display: flex;
    /*Adiciona margem na parte superior. */
    padding-top: 20px;
    
}
fieldset:nth-child(5) {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;

}

.container input {
    margin: 10px 10px;

    /* Define a largura do elemento. */
    width: calc(100% - 20px);

    /* Define a altura do elemento.*/
    height: 70px;

    border: none;

    background-color: #ededed;

    border-radius: 4px;

    /* Cor da fonte. */
    color: #333;

    /* Tamanho da fonte. */
    font-size: 18px;

    /* Aumenta a largura do contorno do texto. */
    font-weight: 700;

    /* Gera espaço ao redor do conteúdo do elemento 
    (superior, direito, inferior e esquerdo)*/
    padding: 14px 10px 0 10px;
}
.container {
    position: relative;
}

.container label {
    /* Transforma o texto deixando todas as letras em maiúsculo. */
    text-transform: uppercase;

    font-size:14px;

    font-weight: 700;

    color: #9d9d9d;
    /* Posiciona qualquer elemento de acordo com o 
    elemento pai, deixando de fazer parte do fluxo
    comum do documento. */
    
    position: absolute;

    /* Defina a altura entre linha. */
    
    line-height: 70px;

    /* posição vertical que necessita que o 
    elemento tenha uma posição determinada. */
    
    top: 10px;
    
    /* Distância da borda esquerda. */
    
    left: 20px;
    
    /* Impede a seleção de texto. */
    
    user-select: none;

    /* Se o elemento deve agir ou não a eventos do ponteiro. */
    pointer-events: none;
}

/* ~ - Quando ocorrer o foco no input 
altere as propriedades do label. */
.container input:focus ~ label,
.container input:valid ~ label {
    left: 20px;
    top: -10px;
    color: #00acd7;
}
#check {
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
}
#check input {
    width: 25px;
    height: 25px;

    /* Auto - centraliza o elemento na horizontal.
    0 - não altera a margem esquerda e direita. */
    margin: auto 0;
}

#check label {
    margin: auto 10px;
    color: #555;
    transition: 0.5s;
}

#check input:checked ~ label,
#check input:valid ~ label {
    color: #00acd7;
}

button {
    margin: 40px 0;
    margin-left: 10px;

    /* Ocupa a metade do fieldset descontando a margin de 10px. */
    width: calc(50% - 10px);
    height: 70px;
    
    background: #00acd7;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    /* Muda o ponteiro do mouse. */
    cursor: pointer;

    transition: 0.3s linear;
}

button:hover {
    opacity: 0.85;
    
}

form a {
    /* Remove a decoração padrão do elemento na tag a "link" remove o traço inferior.*/
    text-decoration: none;

    font-size: 16px;

    color: #555;

    font-weight: 500;

    padding-top: 20px;

    text-transform: uppercase;

    text-align: center;

    /* Exibe o elemento em bloco.
    Ele começa em uma nova linha
    e ocupa toda a largura. */
    display: block;
}

form a:hover {
    color: #111;
}

section img {
    width: 250px;
    height: 250px;

    margin: auto 40px;
}

@media only screen and (max-widht: 1000px) {
    div#parallelogram {
        height: 690px;
    }
    section img {
        display: none;
    }
}
@media only screen and (max-widht: 510px) {
    div#parallelogram {
        display: none;
    }
    section {
        min-width: 95vw;
    }

    form {
        width: 100px;
    }
    
    fieldset:nth-child(2),
    fieldset:nth-child(4),
    fieldset:nth-child(5) {
        flex-direction: column;
    }
    fieldset:nth-child(4) {
        padding: 0px;
    }

    div#check {
        width: 100%;
    }

    button {
        width: 100%;
        margin-left: 0;
    }
}